@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


@import "tailwindcss";

@plugin "daisyui";

@theme {
  --font-poppins : "Poppins", sans-serif;
}

@plugin "daisyui" {
  themes: all;
}
@plugin "@tailwindcss/typography";

@layer components {
  /* Force light theme on Quill Editor */
.force-light-editor .ql-toolbar,
.force-light-editor .ql-container {
  background-color: #ffffff !important;
  color: #000000 !important;
  border-color: #cbd5e1 !important;
}

@layer components {
  .editor-content img {
    @apply w-[200px] h-auto rounded-md my-2;
  }

  
}
.p-editor-content img {
  max-width: 200px;
  height: auto;
  border-radius: 0.375rem; /* rounded-md */
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  display: block;
}



/* Icon color fix */
.force-light-editor .ql-toolbar button svg,
.force-light-editor .ql-toolbar .ql-picker-label,
.force-light-editor .ql-toolbar .ql-picker-item {
  fill: #000000 !important;
  stroke: #000000 !important;
  color: #000000 !important;
}

}

